/* Reset ================================================================================= */

/*300px to 400px*/
/*401px to 530px*/
/*531px to 747px*/
/*748px to 810px*/
/*1000px to 1024px*/
* {
	margin:0;
	padding:0;
}
body {
	background:#ffffff;
	/*font:12px/1.55 "helveticaneuemedium", Helvetica, sans-serif;*/
	font:12px/1.55 Arial,sans-serif;
	color:#2f2f2f;

}
img {
	border:0;
	vertical-align:top;
}
a {
	color:#1e7ec8;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
:focus {
	outline:0;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
}
h1 {
	font-size:20px;
	font-weight:normal;
}
h2 {
	font-size:18px;
	font-weight:normal;
}
h3 {
	font-size:16px;
	font-weight:bold;
}
h4 {
	font-size:14px;
	font-weight:bold;
}
h5 {
	font-size:12px;
	font-weight:bold;
}
h6 {
	font-size:11px;
	font-weight:bold;
}
/* Forms */
form {
	display:inline;
}
fieldset {
	border:0;
}
legend {
	display:none;
}
/* Table */
table {
	border:0; /*border-collapse:collapse;*/
	border-spacing:0;
	empty-cells:show;
	font-size:100%;
}
caption, th, td {
	vertical-align:top;
	text-align:left;
	font-weight:normal;
}
/* Content */
p {
	margin:0 0 10px;
}
strong {
	font-weight:bold;
}
address {
	font-style:normal;
	line-height:1.35;
}
cite {
	font-style:normal;
}
q, blockquote {
	quotes:none;
}
q:before, q:after {
	content:'';
}
small, big {
	font-size:1em;
}
.fltleft{
	float:left;
	}
.fltright{
	float:right;
	}
/*sup           { font-size:1em; vertical-align:top; }*/

/* Lists */
ul, ol {
	list-style:none;
}
/* Tools */
.hidden {
	display:block !important;
	border:0 !important;
	margin:0 !important;
	padding:0 !important;
	font-size:0 !important;
	line-height:0 !important;
	width:0 !important;
	height:0 !important;
	overflow:hidden !important;
}
.nobr {
	white-space:nowrap !important;
}
.wrap {
	white-space:normal !important;
}
.a-left {
	text-align:left !important;
}
.a-center {
	text-align:center !important;
}
.a-right {
	text-align:right !important;
}
.v-top {
	vertical-align:top;
}
.v-middle {
	vertical-align:middle;
}
.f-left, .left {
	float:left !important;
}
.f-right, .right {
	float:right !important;
}
.f-none {
	float:none !important;
}
.f-fix {
	float:left;
	width:100%;
}
.no-display {
	display:none;
}
.no-border{
	border:none !important;
	}
.no-margin {
	margin:0 !important;
}
.no-padding {
	padding:0 !important;
}
.no-bg {
	background:none !important;
}
.clear{
	clear: both;
}

@font-face {
    font-family: 'helveticaneuemedium';
    src: url('../fonts/helveticaneuemedium.eot');
    src: url('../fonts/helveticaneuemedium.eot') format('embedded-opentype'),
         url('../fonts/helveticaneuemedium.woff') format('woff2'),
         url('../fonts/helveticaneuemedium.woff') format('woff'),
         url('../fonts/helveticaneuemedium.ttf') format('truetype'),
         url('../fonts/helveticaneuemedium.svg') format('svg');
}

/* ======================================================================================= */
/* ==================Header Panel Start===================== */
.header{
	/*background:#ccc;
	text-align: center;
	font-size: 16px;
	padding:40px 0;*/
}
.header a{
	/*display: block;
	color:#2f2f2f;
	text-decoration: none;*/
}
header.main-header .search-form button.search-form__submit{
	position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}
.main-header a, .bg-yellow a{
	color:#000;
	text-decoration: none;
}
.main-header a:hover, .bg-yellow a:hover{
	color:#385ebb;
	text-decoration:none;
}
.main-header a.orange{
	color:#e77a00;
}
h1.entry-title{
	padding:20px 0;
}
.right-list li a{
	color:#385ebb;
}
.right-list li a:hover{
	color:#e77a00;
	text-decoration: underline;
}
/* ==================Header Panel End===================== */
.body-banner{
	background:url(../images/headingbg.jpg) repeat-x 50% 100%;
	margin-top:10px;
}
.wrapper{
	max-width: 1279px;
	margin: 0 auto;
	/*overflow: hidden;*/	
}
.category-buying-guide .wrapper,
.category-events .wrapper{
	overflow: hidden;
}
.wrapper p.description{
	font-size: 17px;
	line-height: 20px;
	padding-bottom: 45px;
	font-weight: normal;
	color: #686868;
	max-width: 1020px;
}
.wrapper:after{
	clear: both;
	display: block;
	content: "";
	overflow: hidden;
	line-height: 0;
	font-size: 0; 
}
.menu-pan{
	float: left;
	padding: 25px 20px 0 0;
}
.top-menu{
	position: relative;
	font-size: 15px;
}
.top-menu a{
	font-size: 13px!important;
}
.top-menu .ubermenu-skin-black-white-2{
	background:none!important;
	border:0!important;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1) inset;
	position: absolute;
	top:25px;
	width:100%; 

}
.ubermenu-sub-indicators .home-icon>.ubermenu-target:after{
	display: none!important;
}

li.home-icon a.ubermenu-target{
	background:transparent!important;
	padding:0!important;
}
li.home-icon ul li a.ubermenu-target{
	padding:10px 20px!important;
}
.ubermenu .ubermenu-item-layout-image_left > .ubermenu-target-text{
	display: none!important;
}
.ubermenu-nojs.ubermenu-skin-black-white-2 .ubermenu-submenu .ubermenu-tabs .ubermenu-tab:hover > .ubermenu-target, 
.ubermenu-skin-black-white-2 .ubermenu-submenu .ubermenu-tab.ubermenu-active > .ubermenu-target{
	background-color: #ddd!important;
}



.heading-pan-left{
	float: left;
	margin: 0 0 0 80px;
	position:relative;
	z-index:999;
}
.bannerbg{
	width: 100%;
	padding-top: 95px;
	padding-bottom: 103px;
	background-size:100%!important;
}
.banner-heading-bg{	
	background: rgba(0, 0, 0, .4);
	padding:52px 40px;
	display: inline-block;
	color: #fff;
}	
.banner-heading-bg h1{
	font-size: 37px;
	font-weight: normal;
	text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}
.banner-heading-bg h1 span{
	display: block;
	font-size: 68px;
	line-height: 45px;	
}
.body-banner h2{
	text-transform: uppercase;
	padding:10px 0 0 0;
	font-size: 37px;
	font-weight: bold;
}
.body-banner h2 a{
	text-decoration:none;
	color:#2f2f2f;
	cursor: pointer;
}
.body-banner h2 span{
	display: block;
	font-size: 19px;
	margin: -15px 0 0;
}

.search-right{
	float: right;
	padding:25px 0 30px 0;
	position: relative;
    z-index: 999;
    width: 440px;
}
.search-right input.search,
input.search-field{
	border-left:1px solid #c8c8c8;
	border-top:1px solid #c8c8c8;
	border-bottom:1px solid #c8c8c8;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin:0;
	padding:15px 10px 14px 30px;
	float: left;
	/*width: 380px;*/
	font-size: 17px;
	color:#383838;

    max-width: 88%;
    width: 88%;

}
.search-right .search-button,
.search-submit{
	float: left;
	border-right:1px solid #5fab47;
	border-top:1px solid #5fab47;
	border-bottom:1px solid #5fab47;
	border-left:0;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	margin:0;
	padding:9px;
	text-indent: -10000px;
	background:url(../images/search.jpg) no-repeat 50% 50% #5fab47;
	width: 52px;
	cursor: pointer;
	height: 52px;

}

.product-pan{
	margin-left:-38px;
	margin-right:-38px;
}
.event-content p{
	font-size: 17px;
	line-height: 20px;
	padding-bottom: 45px;
	font-weight: normal;
	color: #686868;
	max-width: 1020px;
}
.event-content p strong{
	color:#d88002;
	padding:30px 0 20px 0;
	text-transform: uppercase;
	display: block;
}
.product-pan div.product-list{
	margin:0 38px 77px;
	float: left;
}
.product-pan div img{
	display: block;
}
.product-pan div h4{
	padding-top: 15px;
	color: #313131;
	float:left;
	max-width: 220px;
}
/*.product-pan div a{
	background-color:#538c3f;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:5px;
	text-decoration: none;
	float: right;
	margin-top: 15px;
}*/
.product-pan div a.more{
	background-color:#538c3f;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	float: right;
	margin-top: 15px;
	font-weight: bold;
	font-size:9px;
	width:136px;
	text-align: center;
	padding: 8px 0;
	line-height: 10px;
}
.product-pan div a.more i{
	background:url(../images/arrow.png) no-repeat 100% 100%;
	display: inline-block;
    height: 10px;
    width: 6px;
    padding:0 0 0 10px;
}
.events-product-pan{
	margin-left:-35px;
	margin-right:-35px;
}
.events-product-pan div{
	margin:0 35px 45px;
	float: left;
}
.events-product-pan div img{
	display: block;
}
.events-product-pan div div{
	float: none;
	margin: 0;
	display: inline-block;
}
.events-product-pan div div h4{
	padding-top: 15px;
	color: #333;
	font-size: 23px;
}
.events-product-pan div div span{
	font-size:17px;
}
.events-product-pan div a.more{
	background-color:#538c3f;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	float: right;
	margin-top: 15px;
	font-weight: bold;
	font-size:9px;
	width:136px;
	text-align: center;
	padding: 8px 0;
	line-height: 10px;
}

.events-product-pan div a.more i{
	background:url(../images/arrow.png) no-repeat 100% 100%;
	display: inline-block;
    height: 10px;
    width: 6px;
    padding:0 0 0 10px;
   }
.events_subLanding-pan{
	padding: 0 0 70px;
	overflow: hidden;
}
.events_subLanding-pan img{
	float: left;
	margin-right:70px;	
}
/*.events_subLanding-pan div{
	padding-top: 70px;
}*/
.events_subLanding-pan div h4{
	font-size: 23px;
	color:#333;
}
.events_subLanding-pan div span{
	font-size: 17px;
	padding-bottom:10px;
	display: block;
}
.events_subLanding-pan div p{
	font-size: 17px;
	color:#686868;
}
.events_subLanding-pan div a.more{
	background-color:#538c3f;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:5px 40px;
	text-decoration: none;
	float: left;
	margin: 15px 30px 0 0;
}
.events_subLanding-pan div a.more i{
	background:url(../images/arrow.png) no-repeat 100% 100%;
	display: inline-block;
    height: 10px;
    width: 6px;
    padding:0 0 0 10px;
   }

.product-launch-hub-pan{
	overflow: hidden;
	padding-bottom: 75px;
}
.product-launch-hub-pan img{
	float: left;
	margin-right:70px;	
}
.product-launch-hub-pan div{
	overflow: hidden;	
}
.product-launch-hub-pan div img{
	margin:0 10px 0 0;
}
.product-launch-hub-pan div h4{
	font-size:37px;
	line-height: 37px;
	color:#383838;
}
.product-launch-hub-pan div span{
	font-size:13px;
	font-weight: bold;
	padding-bottom:20px;
	display: block;
}
.product-launch-hub-pan div p{
	font-size:17px;
	padding-bottom:20px;
	color:#686868;
}
.product-launch-hub-pan div a.more{
	background-color:#538c3f;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:5px 40px;
	text-decoration: none;
	float: left;
	margin: 15px 30px 0 0;
}
.product-launch-hub-pan div a.more i{
	background:url(../images/arrow.png) no-repeat 100% 100%;
	display: inline-block;
    height: 10px;
    width: 6px;
    padding:0 0 0 10px;
}
.blogpan{
	padding: 35px 0;
}
.blogpan-left{
	float: left;
}
.blogleft-pan1{
	padding: 0 20px 34px 0;
}
.blogleft-pan2{
	position: relative;
	background:#f2f2f2;
	padding:40px 20px 40px 0;
}

.blogleft-pan2:before{
	position: absolute;
	width: 1000%;
	height:100%;
	right: 100%;
	top:0;
	content: "";
	z-index: 1;
	background:#f2f2f2;
}
.blogleft-pan2 input{
	border-left:1px solid #c8c8c8;
	border-top:1px solid #c8c8c8;
	border-bottom:1px solid #c8c8c8;
	-webkit-border-top-left-radius: 1px;
	-webkit-border-bottom-left-radius: 1px;
	-moz-border-radius-topleft: 1px;
	-moz-border-radius-bottomleft: 1px;
	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;
	margin:0 0 10px;
	width:100%;
}
.blogleft-pan3{

}


.blogleft-pan-content{
	float: left;
	width: 510px;
	margin-right: 30px;
}
.blogleft-pan-content img{
	max-width: 100%;
}

.blogleft-pan-content .blog-share{
	overflow: hidden;
	margin-bottom: 10px;
}
.blogleft-pan-content .blog-share h3{
	float: left;
	font-size:13px;
	padding:3px 0;
}
.blogleft-pan-content .blog-share ul li{
	float: left;
	margin-left: 10px;
}
.blogleft-pan-content > img {
    width: 100%;
}
.blogleft-pan-content .blog-tag{
	padding-top:10px;
	font-size: 13px;
}
.blogleft-pan-content .blog-tag a{
	font-size: 13px;
	color:#C98000;
	font-weight: bold;
	padding-left: 5px;
	text-decoration: none;
}
.blogleft-pan2:nth-child(odd) {
    background: #fff;
}
.blogleft-pan2:nth-child(odd)::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 1000%;
    z-index: 1;
}

.blogleft-pan2:nth-child(even) {

}

.blogright-pan-content{
	float: left;
	width: 380px;
	padding-top: 30px;
}
.blogright-pan-content h2{
	font-size: 23px;
	color:#333333;
	font-weight: bold;
}
.blogright-pan-content span{
	font-size: 13px;
	font-weight: bold;
	color:#686868;
	display: block;
	padding: 0 0 20px 0;
}
.blogright-pan-content p{
	font-size: 17px;
	color:#686868;
}


.blogright-pan-content a{
	background-color:#538c3f;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:5px 40px;
	text-decoration: none;
	float: left;
	margin: 15px 30px 0 0;
}
.blogright-pan-content a i{
	background:url(../images/arrow.png) no-repeat 100% 100%;
	display: inline-block;
    height: 10px;
    width: 6px;
    padding:0 0 0 10px;
}
.blogright-pan-content a.more-link,
.upcoming-event-left a.more-link{
	display: none;
}

.latestnews{
	overflow: hidden;
	padding:40px 0 0 0;
	border-top: 1px solid #cdcdcd;
	margin: 47px 0 0 0;
}
.latestnews div.lnpan{
	overflow: hidden;
	margin-bottom: 23px;
}
.latestnews div.lnpan img{
	float: left;
	margin: 0 32px 0 0;
}
.blogpan-right{
	float: right;
	width: 311px;
}
.adbanner{
	border:1px solid #cdcdcd;
	padding:14px;
	margin: 0 0 23px 0;
	text-align:center;
}
.adbanner span{
	font-size: 19px;
	padding: 10px 0;
	display: block;
}
.adbanner a{
	background-color:#538c3f;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:5px 0;
	text-decoration: none;
	margin: 15px auto;
	width: 137px;
	display: block;
}
.adbanner a i{
	background:url(../images/arrow.png) no-repeat 100% 100%;
	display: inline-block;
    height: 10px;
    width: 6px;
    padding:0 0 0 5px;
}
.subscribe{
	margin: 0 0 23px 0;
}
.subscribe h3{
	font-size: 19px;
	font-weight: normal;
	line-height: 16px;
}
.subscribe h4{
	font-size: 17px;
	font-weight: normal;
}
.subscribe .wpcf7-text{
	color:#000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:10px;
	text-decoration: none;
	margin: 15px 0;
	display: block;
	border:1px solid #cdcdcd;
	width: 92%;
	font-size: 17px;
}
.subscribe .wpcf7-submit{
	background:url(../images/arrow.png) no-repeat 80% 50% #538c3f;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:5px 0;
	text-decoration: none;
	margin: 15px 0;
	width: 137px;
	display: block;
	border:0;
}
.stay-connected{
	margin: 0 0 33px 0;
	overflow: hidden;
}
.stay-connected h3{
	font-size: 19px;
	padding-bottom: 5px;
	font-weight: normal;
}
.stay-connected ul li{
	float: left;
	padding-right:11px;
}
.stay-connected ul li:last:child{
	padding-right:0;
}

h3.proheading {
    color: #d88002;
    padding: 30px 0 0;
    text-transform: uppercase;
}
h1.proheading {
    color: #d88002;
    padding: 30px 0 0;
    text-transform: uppercase;
    font-weight: bold;
}
span.blogdate {
    color: #686868;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 0 0 20px;
}

.bloghub-banner{
	margin: 0 0 0;
}

.trending{
	margin-bottom:60px;
}
.trending h3{
	float: left;
	margin-bottom: 10px;
	font-size: 23px;
}
.trending a.viewall{
	float: right;
	background:url(../images/arrow1.png) no-repeat 100% 50%;
	font-size: 13px;
	color:#383838;
	font-weight:bold;
	text-decoration: none;
	background-size: 10px;
	padding-right:20px;
}

.upcoming-event{
	margin-bottom:60px;
}

.upcoming-event h3{
	float: left;
	margin-bottom: 10px;
	font-size: 23px;
}
.upcoming-event a.viewall{
	float: right;
	background:url(../images/arrow1.png) no-repeat 100% 50%;
	font-size: 13px;
	color:#383838;
	font-weight:bold;
	text-decoration: none;
	background-size: 10px;
	padding-right:20px;
}
.upcoming-event-pan{
	background:#f2f2f2;
	position: relative;
	overflow: hidden;
}
/*.upcoming-event-pan::after {
    background-color:#f2f2f2;
    content: "";
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    width: 1000%;
    z-index: 999;
}*/
.upcoming-event-left{
	float: left;
	width: 960px;
	background:url(../images/event-bg.jpg) repeat-x 0 100% #f2f2f2;
	position: relative;
}
.upcoming-event-left::before {
    background:url(../images/event-bg.jpg) repeat-x 0 100% #f2f2f2;
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 1000%;
    z-index: 1;
}
.upcoming-event-left img{
	float: left;
    height: auto;
    margin-right: 33px;
    max-width: 429px;
    position: absolute;
}
.upcoming-event-left div{
	padding-top: 10px;
	/*padding-bottom:10px;*/
	max-width: 483px;
	margin: 20px 20px 0 0;
	float: right;
}
.upcoming-event-left div h4{
	font-size: 20px;
	line-height: 26px;
	color: #383838;
}
.upcoming-event-left div span{
	display: block;
	font-size: 13px;
	font-weight: bold;
	color: #686868;
}

.upcoming-event-left div p{
	font-size: 16px;
	color:#686868;
	padding-bottom: 20px;
    padding-top: 20px;
}
.upcoming-event-left div a.more{
	background-color:#538c3f;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:5px 40px;
	text-decoration: none;
	float: left;
	margin: 0 30px 0 0;
}
.upcoming-event-left div a.more i{
	background:url(../images/arrow.png) no-repeat 100% 100%;
	display: inline-block;
    height: 10px;
    width: 6px;
    padding:0 0 0 10px;
}
.upcoming-event-right{
	float: right;
	width:280px;
	overflow: hidden;
	padding-top:80px;
	text-align: center;
	background-color:#f2f2f2;
}

.upcoming-event-right h4{
	font-size: 18px;
	font-weight: normal;
	padding-bottom:16px;
}
.divider{
	background-color: #383838;
	max-width: 1195px;
	height: 50px;
	margin:0 auto;
}
.help-pro {
	overflow: hidden;
	padding-bottom: 20px;
}
.help-pro h3{
	float: left;
	margin-bottom: 10px;
	font-size: 23px;
}
.help-pro a.viewall{
	float: right;
	background:url(../images/arrow1.png) no-repeat 100% 50%;
	font-size: 13px;
	color:#383838;
	font-weight:bold;
	text-decoration: none;
	background-size: 10px;
	padding-right:20px;
}
.help-pro div{
	overflow: hidden;
	/*max-width: 1400px;*/
}
.help-pro div div{
	/*background-color:#383838;*/
	width: 295px;
	display: block;
	float: left;
	/*padding:16px;*/
	margin-right:24px;
	margin-bottom:24px;
	box-sizing: border-box;
}
.help-pro div div.thumb-img{
	/*max-width:268px;*/
	height: 268px;
	overflow: hidden;
	padding:0;
	margin-bottom: 10px;
	float: none;
	position: relative;
}
.help-pro div div img{
	width: 100%;
	height: 100%;
}
.help-pro div div span{
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    display: block;
    left: 0;
    padding: 2%;
    position: absolute;
    width: 96%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.help-pro div div h4{
	background-color:#222222;
	text-align: center;
	color: #fff;
	font-size: 14px;
	padding:5px 0;
}
.help-pro div div h4 a{
	color:#fff;
	text-decoration: none;
}

.home-pro {
	overflow: hidden;
}
.home-pro h3{
	float: left;
	margin-bottom: 25px;
	font-size: 23px;
}
.home-pro a.viewall{
	float: right;
	background:url(../images/arrow1.png) no-repeat 100% 50%;
	font-size: 13px;
	color:#383838;
	font-weight:bold;
	text-decoration: none;
	background-size: 10px;
	padding-right:20px;
}
.home-pro div{
	overflow: hidden;
	/*width: 1400px;*/
	text-align: center;
	margin-left:-15px;
	margin-right: -15px; 
}
.home-pro div div{
	/*background-color:#383838;
	width: 408px;*/
	display: inline-block;
	/*float: left;
	padding:16px;*/
	margin-left: 25px;
    margin-right: 25px;
	margin-bottom:25px;
	box-sizing: border-box;
}
.home-pro div div.thumb-img{
	max-width:376px;
	overflow: hidden;
	padding:0;
	margin-bottom: 10px;
	float: none;
	position: relative;
	margin-right:0;
	margin-left: 0;
}
.home-pro div div img{
	width: 100%;
}
.home-pro div div span{
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    display: block;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.home-pro div div h4{
	background-color:#222222;
	text-align: center;
	color: #fff;
	font-size: 14px;
	padding:5px 0;
}
.home-pro div div h4 a{
	color:#fff;
	text-decoration: none;
}
.help-need{
	padding-top:60px;
}
.help-need h4{
	padding-bottom: 25px;
	font-size:23px;
	line-height:25px;
}
.help-need ul{
	box-sizing:border-box;
}
.help-need ul li{
	display: inline-block;
	margin-bottom:60px;
	margin-right:35px;
}
.help-need ul li img{
	float: left;
	margin-right:10px;
}
.help-need ul div.textwidget{
	float: left;
}
.help-need ul div.textwidget li div{
	float: right;
	max-width:223px;
	color:#686868;
	font-size: 14px;
}
.help-need ul li div h5{
}
.help-need ul li div h5 a{
	font-size: 16px;
	color:#383838;
	text-decoration: none;
}
/* ==================Footer Panel Start===================== */
.footer{
	/*background:#ccc;
	text-align: center;
	font-size: 16px;
	padding:40px 0;*/
}
.footer a{
	/*display: block;
	color:#2f2f2f;
	text-decoration: none;*/
	text-decoration: none;
}
a.link-alt{
	color: #000;
}
a.link-alt:hover{
	color: #385ebb!important;
	text-decoration: none!important;
}
.footer a:hover{
	color:#e77a00;
	text-decoration: underline;
}

/* ==================Footer Panel End===================== */

.entry-footer,
nav.post-navigation,
.post-thumbnail{
	display: none;
}

.product-launch-hub-pan .wpb_content_element{
	margin-bottom: 0!important;
}


.clock ul:nth-child(4)
{
    display: none;
}

.tag .blogpan-left{
	float: left;
	max-width: 900px;
}
.pagenavi{
	max-width: 100%;
	float: none!important;
}
.pagenavi span,
.pagenavi a{
	background-color:#538c3f;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	float: left;
	margin:0 10px 0 0;
	font-weight: bold;
	font-size:16px!important;
	text-align: center;
	padding: 10px;
	line-height: 10px;
}
h2.screen-reader-text{
	display: none;
}
.pagenavi span.current{
	background: transparent;
	color: #000;
	border: 1px solid #538c3f;
}
.slide{
	overflow: hidden;
	height:380px;
}
.slide img{
	width: 100%;
	height:100%;
}
.slide span {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    display: block;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.place-holder-banner{
	text-align:center;
	margin:0 0 30px 0;
}
.place-holder-banner img{
	max-width:100%; 
}
.alm-reveal {
    overflow: hidden;
}
.mobile-header, .mobile-header-content{
	display: none;
}
.main-nav__item>a>i.icon {
    display: block;
    font-size: 24px;
    font-size: 2rem;
    padding-top:6px;
    padding-bottom:6px;
    width:auto!important;
}
.home .main-nav__item>a>i.icon {
	padding-top:0;
    padding-bottom:0;
}
.home .icon-group-brands {
    line-height: 1;
    padding-top: 0;
}
.home .cart-nav {
	margin-top:0;
}
.cart-nav {
	margin-top:-10px;
}
.cart-nav i.icon{
	line-height: 30px!important;
}
.search-form{
	display: block!important;
}
.sb-slidebar .col-6{
	width: 50%!important;
}
.sb-slidebar a{
	text-decoration: none;
}
.mobile-header a{
	color:#385EBB;
}
.main-nav__dropdown-menu .sm-col-4 a i.font-size-xxl {
    font-size: 1.5rem;
    padding: 10px 0 0;
    vertical-align: top !important;
    margin-right: 2rem!important;
}
.home .main-nav__dropdown-menu .sm-col-4 a i.font-size-xxl {
	margin-right: .8rem!important;
}
.cart-nav__count,
.mobile-header a span{
	display: none!important;
}

/*960px upwrds*/
@media(max-width:1280px){
	.wrapper {
	    margin: 0 auto;
	    max-width: 98%;
	    padding:0 1%;
	}
	.upcoming-event-left{
		float: none;
		max-width: 100%;
	}
	.upcoming-event-right{
		float: none;
		width: 100%;
	}
	.upcoming-event-left img{
		position: relative;
	}	
	.upcoming-event-left div {
	    float: right;
	    max-width: 452px;
	    padding-top: 6px;
	}
	.upcoming-event-right{
		padding-top: 0;
	}
	.upcoming-event-right .flip-clock-wrapper {
	    margin: 0 auto!important;
	    width: 230px!important;
	}	
	.help-pro div {
	    max-width: 100%;
	    overflow: hidden;
	}	
	.help-pro div div {
	    display: inline-block;
	    float: none;
	    margin-bottom: 11px;
	    margin-right: 11px;
	    width: 23%;
	}
	.help-pro div div.thumb-img{
		width: 100%;
	}
	.home-pro div {
	    max-width: 100%;
	    overflow: hidden;
	}		
	.home-pro div div {
	    display: inline-block;
	    float: none;
	    max-width: 32%;
	}
	.home-pro div div.thumb-img{
		max-width: 100%;
	}	
	.trending {	  
	    overflow: hidden;
	}
	.bx-wrapper .bx-prev {
		left:0!important;
	}
	.bx-wrapper .bx-next {
		right: 0!important;
	}
	.events-product-pan{
		text-align: center;
	}
	.events-product-pan div {
	    display: inline-block;
	    float: none;
	    margin: 0 35px 45px;
	    max-width: 42%;
	    vertical-align: top;
	}

	.events-product-pan div img {
	    display: block;
	    width: 100%;
	}	
	.events-product-pan div div {
	    display: block;
	    float: leftn;
	    margin: 0;
	    max-width: 100%;
	    text-align: left;
	}
	.events-product-pan div a.more{
		float: left;
	}
	.search-right input.search, input.search-field{
		/*width: 325px;*/
	}

	.product-pan div.product-list {
	    float: left;
	    margin: 0 30px 77px 57px;
	    max-width: 26%;
	}
	.product-pan div img {
	    display: block;
	    height: 100%;
	    max-width: 100%;
	}
	.home-pro div div{
		margin-left: 5px;
	    margin-right: 5px;
	}	
	.home-pro div div img {
	    height: 100%;
	    width: 100%;
	}
	.upcoming-event-left{
	    float: left;
	    max-width: 75%;
	}
	.upcoming-event-right {
	    float: left;
	    width: 25%;
	    padding-top: 20px;
	}

}
@media(max-width:1279px){
	.upcoming-event-left img{
		max-width: 40%;
	}
	.upcoming-event-left div{
		max-width: 50%;
	}
	.product-pan div.product-list{
		margin: 0 30px 77px 43px;
	}
	.home-pro div{
		margin-left:0;
		margin-right: 0; 
	}
	.desktop-header{
		display: none;
	}
	.mobile-header{
		display: block;
		margin-bottom: 10px;
	}
	.mobile-header-content{
		display: block;
	}
	.mobile-header a span{
		top: 4px;
		left: 5px;
	}
	.home .mobile-header a span{
		top: 4px;
		left: 5px;
	}
	.events-product-pan div img {
	    display: block;
	    width: 100%;
	    height: 100%;
	}
	.mobile-header-content .icon.icon-packages {
	    display: block !important;
	    height: 30px !important;
	    text-align: center !important;
	    width: auto !important;
	}
}
@media(max-width:960px){
.top-menu{.home-pro div{
	overflow: hidden;
	/*width: 1400px;*/
	text-align: center;
	margin-left:-15px;
	margin-right: -15px; 
}
		z-index: 99999;
	}
.ubermenu-responsive-toggle{
	display: none !important;
}

.search-right{
	float: right;
	padding:25px 0 30px 0;
	position: relative;
    z-index: 1000000;
    width: 100%;
}
.search-right input.search, input.search-field{
	max-width: 92%;
	width: 92%;
}
.place-holder-banner img{
	width:100%;
}

.bannerbg {
    background-size: 100% auto !important;
    padding-bottom: 48px;
    padding-top: 70px;
    width: 100%;
}
.wrapper {
	max-width: 92%
}

.blogpan-left{
	float: none;
	overflow: hidden;
	padding-bottom: 40px;
}
.blogleft-pan2{
	padding: 40px 0 0;
	background:transparent;
}

.blogleft-pan-content {
    float: none!important;
    margin-right: 0!important;
    width: 100%!important;
}
.blogleft-pan2:nth-child(2n) {
    /*margin: 0 0 40px;*/
    padding: 40px 0 0;
}
.blogright-pan-content {
    float: none;
    width: 100%;
    padding-top: 30px;
}
.blogleft-pan-content img {
    height: auto;
    width: 100%;
}
.blogpan-right {
    float: none;
    width: 100%;
}
.adbanner img{
	max-width: 100%;
}
.stay-connected ul li {
    float: left;
    padding-right: 9px;
}
.home-pro div div img {
    height: 100%;
    width: 100%;
}

.home-pro div div {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 31%;
}

.help-need ul li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 17px;
}
.upcoming-event-left{
	    float: left;
	    max-width: 93%;
	}
.upcoming-event-right {
	    float: left;
	    width: 100%;
	    padding-top: 50px;
	}
.upcoming-event-left div {
    float: right;
    max-width: 382px;
    padding-top: 6px;
}


.product-pan div.product-list {
    display: inline-block;
    float: none;
    margin: 0 16px 77px;
    max-width: 29%;
    vertical-align: top;
}
.product-pan div img {
    display: block;
    height: 100%;
    width: 100%;
}

.product-pan div h4 {
    color: #313131;
    display: block;
    float: left;
    max-width: 220px;
    padding-top: 15px;
    width: 100%;
}

.product-pan div a.more {
	float: left;
}
.top-menu {
    z-index: 9999999;
}
.category-product-launch .wrapper{
	width:96%;
}
}
@media(max-width:768px){
.search-right{
	float: right;
	padding:25px 0 30px 0;
	position: inherit;
    z-index: 1000000;
}
.heading-pan-left {
    float: none;
    margin: 0;
    position: relative;
    z-index: 0;
}
.top-menu{
	padding: 20px 0 0;
}
.top-menu .ubermenu-skin-black-white-2{
	position: relative;
	top:0;
}

.body-banner{
	background-color: #f2f2f2;
}
.body-banner h2 {
    font-size: 27px;
    line-height: 27px;
}
.body-banner h2 span {
    display: block;
    font-size: 15px;
    margin: 0;
}
.search-right {
    display: block;
    float: none;
    min-height: 30px;
    padding: 25px 0;
}
.search-right input.search, input.search-field{
	max-width: 90%;
	width: 90%;
}
.bannerbg{
	padding-top: 20px;
	padding-bottom: 20px;
	background-size: cover!important;
}
.banner-heading-bg{
	padding: 20px;
}
.banner-heading-bg h1 {
    font-size: 17px;
}
.banner-heading-bg h1 span {
	font-size: 38px;
}
.events-product-pan div{
	max-width:100%;
}
.events-product-pan div a.more{
	float: left;
}
.product-pan {
    margin-left: 0;
    margin-right: 0;
}
.product-pan div.product-list {
    display: block;
    float: none;
    margin: 0 auto 70px;
}
.product-pan div img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.product-pan div h4 {
    color: #313131;
    display: block;
    float: none;
    padding-top: 15px;
    max-width: 100%;
}
.product-pan div a.more{
	float: left;
}
.help-pro div{
	text-align: center;
}
.help-pro div div {
    display: inline-block;
    float: none;
    margin-bottom: 11px;
    margin-right: 11px;
    width: 295px;
}
.home-pro div div {
    display: block;
    float: none;
    margin: 0 auto;
    max-width: 100%;
}
.home-pro div div.thumb-img {
    max-width: 100%;
}
.home-pro div div img {
    height: 100%;
    width: 100%;
}

.help-need ul div.textwidget li div {
    color: #686868;
    float: right;
    font-size: 14px;
    max-width: 80%;
}

.upcoming-event-left img {
    float: none;
    max-width: 100%;
    position: relative;
}
.upcoming-event-left div {
    float: none;
    max-width: 100%;
    padding-top: 6px;
}

.trending h3,
.home-pro h3,
.upcoming-event h3
{
    display: block;
    float: left;
    font-size: 23px;
    margin-bottom: 10px;
    width: 100%;
}
.upcoming-event a.viewall,
.home-pro a.viewall,
.trending a.viewall{
	float: left;
	margin-bottom: 10px;
}
.upcoming-event-right .flip-clock-wrapper{
	width: 290px!important;
}
.upcoming-event-right {
    padding-top: 40px;
}
.flip-clock-divider {
    height: 76px!important;
}

.product-pan div.product-list {
    display: block;
    float: none;
    margin: 0 auto 70px;
    max-width: 100%;
}
/*.col-3 {
    width: 100%!important;
}
.col-4 {
    width: 100%!important;
}*/
}

@media(max-width:640px){
.search-right input.search, input.search-field{
	max-width: 88%;
	width: 88%;
}

.col-6 {
    width: 100%!important;
}
.footer-list1, .footer-list2{
	display: none;
}
.py3{
	padding-top: 0!important;
}
}
@media(max-width:480px){
.search-right input.search, input.search-field{
	max-width: 84%;
	width: 84%;
}
.font-size-xl{
	font-size: 1rem!important;
}
.p2 {
    padding: 0.5rem!important;
}
.inline-block.p1 > img {
    width: 77%;
}
}
@media(max-width:320px){
.search-right input.search, input.search-field{
	max-width: 80%;
	width: 80%;
}

/*header.main-header .search-form button.search-form__submit {
    right: -287px !important;
}*/
}